
body {
    overflow-x: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

p {
    width: 80%;
    margin:auto;
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

.navbar-menu {
    margin-top:80px;
    position: fixed;
    margin-left: -6%;
}

.navbar-menu a {
    text-align: right;
    color: #7bb5bd;
    font-size: 1.3em;
    display: block;
    background-color:white;
    padding-right:10px;
}


i {
    padding-bottom: 20px;
}

.i_link {
    color: #7bb5bd;
    padding-left:10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    color: #7bb5bd;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    color:  #7bb5bd;
    margin-top: 20px;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    overflow: visible;
}

hr.star-light:after,
hr.star-primary:after {
    color:  #7bb5bd;
    background-color: #fff;
    content: "\2605";
    display: inline-block;
    position: relative;
    top: -.7em;
    font-size: 3em;
}

.under-title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.under-title .container {
    width:70%;
    padding-left:10%;
}

.under-title div p{
    color:  #7bb5bd;
    text-align: left;
}


iframe {
    margin-top:20px;
    padding-left:5%;
    display:block;
    margin:auto;
}

hr.para-break {
    color:  #7bb5bd;
    height: 1.5em;
    border-top: none;
    border-bottom: solid 2px;
    text-align: center;
    overflow: visible;
    margin:30px auto;
    width:80%;
}

hr.para-break:after {
    content: attr(data-content);
    display: inline-block;
    position: relative;
    font-size: 2em;
    padding: 0 1em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:30px;
    padding-bottom: 30px;
}


.navbar {
    margin-top:-20px;
    overflow: hidden;
    position: fixed;
    width:60px;
    background-color:#7bb5bd;
}

.navbar i {
    font-size: 50px;
    padding:5px;
}


.navbar a:hover {
    color: white;
}


.title {
    padding-top: 100px;
}

a {
    color: #58848a;
}



html {
    scroll-behavior: smooth;
}

.code-line {
    background-color:rgb(230, 230, 230);
    overflow:hidden;
    display:inline-block;
    padding:0px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin:0px;
    margin-bottom: -0.3em;
}